body {
  width: 20rem;
  border-radius: 10px;
  text-align: center;
}

#header-text {
  font-family: "Helvetica Neue";
  font-size: 20px;
  color: green;
  padding-top: 15px;
}

#helper-text {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

.type-text {
  font-family: "Helvetica Neue";
  font-size: 14px;
  width: 10rem;
  display: inline-flex;

  margin-bottom: 40px;
}

input {
  width: 3rem;
}

#update-preferences {
  border-radius: 10rem;
  border-color: green;
  border-style: none;
  background-color: green;
  color: white;
  box-shadow: none;
  padding: 10px;
  margin: 10px;
  width: 15rem;
  font-size: 14px;
  font-weight: 600;
}

#update-preferences:hover {
  background-color: darkgreen;
}
